body{
    background-color: lavender;
    font-family: 'Roboto',sans-serif;
}
#mainContainer{
    width: 500px;
    height:200px;
    position: relative;
    margin: 0 auto;
    background-color: rgb(138, 128, 204);
    margin-top: 60px;
    border-radius: 20px;
    border: 5px solid lightskyblue;
    place-items: center;
    box-shadow: 4px 4px 5px 7px rgba(0, 0, 0, 0.2);
    /* box-shadow: desplazamiento-horizontal desplazamiento-vertical desenfoque difuminación color;*/
} 

footer{
    position:fixed;
    bottom: 0%;
    width: 100vw;
    height: 50px;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    padding-top:20;
    opacity: 50%;
}
#asideLeft{
    width: 4vw;
    height: 100vh;
    background-color: floralwhite;
}

li{
    list-style-type: none;
    background-color: rgb(188, 56, 193);
    height: 50px;
    width: 500px;
    border-radius: 20px ;
    border: 5px solid lightskyblue;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    color: beige;
    font-size: xx-large;
}

.btnEliminar{
    background-color: red;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    cursor: pointer;
    float: right; 
    margin: 10px;
    border-radius: 50px;
}
#inputNewTask{
    border: none;
    box-shadow: none;
    height: 28px;
    padding: 15px;
    width: 350px;
    font-size: x-large;

}
#btnAdd{
    background-color: rgb(116, 200, 32);
    border: 1px solid white;
    color:aliceblue;
    height: 50px;
    padding: 5px 15px;
    border-radius: 50px;
    margin-left: 10px;
}

